    <h1>Welcome to Paws4Pals</h1>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="../pets/pets.html">Adoptable Pets</a></li>
            <li><a href="../favorites/favorites.html">Favorites</a></li>
            <li><a href="../breeds/breeds.html">Breeds</a></li>
            <li><a href="../nutrition/nutrition.html">Nutrition</a></li>
            <li><a href="../contact/contact.html">Contact Us</a></li>
            <li><a href="../user/login.html">Login</a></li>
        </ul>
    </nav>
