<img src="/images/Paws4Pals.png" alt="Paws4Pals Logo" class="logo" />
<div id="nav-container">
    <button id="menu-toggle">&#9776;</button>
    <nav id="menu">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="../pets/pets.html">Adoptable Pets</a></li>
            <li><a href="../favorites/favorites.html">Favorites</a></li>
            <li><a href="../breeds/breeds.html">Breeds</a></li>
            <li><a href="../nutrition/nutrition.html">Nutrition</a></li>
            <li><a href="../contact/contact.html">Contact Us</a></li>
            <li><a href="../user/login.html" class="nav-login">Login</a></li>
            <li><a href="/profile/profile.html" class="nav-profile hidden">Profile</a></li>
            <li><a href="#" class="nav-logout hidden">Logout</a></li>
        </ul>
    </nav>
</div>
