<a href="/"><img src="/images/Paws4Pals.png" alt="Paws4Pals Logo" class="logo" /></a>
<div id="nav-container">
    <button id="nav-menu-toggle">&#9776;</button>
    <nav class="nav-menu" id="nav-menu">
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/pets/pets.html" class="nav-link">Adoptable Pets</a></li>
            <li><a href="/informational/breeds.html" class="nav-link">Breeds</a></li>
            <li><a href="/informational/nutrition.html" class="nav-link">Nutrition</a></li>
            <li><a href="/userForms/contact.html" class="nav-link">Contact Us</a></li>
            
            <!--Authorization required links-->
            <li><a href="/userForms/login.html" class="nav-link nav-login">Login</a></li>
            <li><a href="/userForms/displayProfile.html" class="nav-link nav-profile hidden">Profile</a></li>
            <li><a href="/favorites/favorites.html" class="nav-link nav-favorites nav-auth-only hidden">Favorites</a></li>
            <li><a href="#" class="nav-link nav-logout hidden">Logout</a></li>
        </ul>
    </nav>
</div>
